<% provide(:title, @pet.name) %>

<h1><%= @pet.name %></h1>
<%= image_tag @pet.picture if @pet.picture.attached? %>
<p><%= @pet.animal.capitalize %></p>
<h5>Bio:</h5>
<p><%= @pet.bio %></p>

<%= link_to "Edit", edit_pet_path(@pet) %>
<%= link_to "Delete", pet_path(@pet), method: :delete, data: {confirm: "Really delete the pet?"} %>
<br>
<%= link_to "<< Back to Pet List", pets_path %>